.git
.github

bin
dist
data

frontend/node_modules
frontend/test-results
test/node_modules
test/results
test/report

cmd/server/frontend/dist

config/breakfix.yaml
config/breakfix.local.yaml
.breakfix-server
.kube
.local

*.log
*.pem
