.git
.github

bin
dist
data

web/node_modules
web/test-results
test/node_modules
test/results
test/report

internal/transport/httpapi/ui/assets

config/breakfix.yaml
config/breakfix.local.yaml
.breakfix-server
.kube
.local

*.log
*.pem
